VITE_SUPABASE_URL=https://znhipxtgjileabyrooxf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpuaGlweHRnamlsZWFieXJvb3hmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4MzIwMDIsImV4cCI6MjA5MzQwODAwMn0.HJ87zzQ94-ZDq7O_6oPK4GuWpp0d9u2Xl9lC96HV92o
